.message-animation {
  font-size: 90px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .message-animation {
    font-size: 20px; /* Ajuste adicional para pantallas más pequeñas */
  }
}
