.message-container {
  top: 10%;
  display: flex;
  flex-direction: column;
  position: relative; /* Asegura que los elementos hijos se posicionen correctamente */
}

.message-background {
  position: absolute; /* Posiciona el fondo detrás del contenido */
  width: 100%;
  height: 100%;
  background-image: url("../assets/MainBg.jpg"); /* Ruta de la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  opacity: 0.9; /* Ajusta la opacidad para reducir la visibilidad */
  z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}

.message {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
  z-index: 1;
  flex: 1;
}

.message-animation {
  font-size: 30px;
  text-align: center;
  opacity: 0;
  padding: 0px 10px 0px 10px;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .message-animation {
    font-size: 20px; /* Ajuste adicional para pantallas más pequeñas */
  }
}
