.solaire-animation {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: moveIn 1.5s ease-out forwards;
}

.solaire-animation img {
  width: 400px;
}

@keyframes moveIn {
  from {
    transform: translate(100%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .solaire-animation img {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .solaire-animation img {
    width: 200px; /* Ajuste adicional para pantallas más pequeñas */
  }
}
